.abouthero_cards {
  display: flex;
  justify-content: space-evenly;
  gap: 100px;
  align-items: center;
  margin-top: 100px;
  height: 300px;
}

.abouthero_card {
  width: 530px;
  background-color: white;
  padding: 40px 40px;
  position: absolute;
  margin-top: 100px;
  z-index: 2;
  margin-left: -400px;
}
.abouthero_card h1 {
  font-size: 48px;
  padding: 20px 0;
}
.abouthero_cards p {
  width: 450px;
  line-height: 1.8;
  position: absolute;
  z-index: 2;
  margin-top: 100px;
  margin-right: -700px;
}
.over_imgs {
  width: 1200px;
  height: 450px;
  position: relative;
}
.over_imgs img {
  width: 100%;
  height: 100%;
}

.mission_cards {
  background-color: #f4f0f8;
  padding: 70px 0;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  gap: 50px;
}

.mission_card {
  width: 420px;
}

.mission_card h3 {
  margin-top: 60px;
  letter-spacing: 3px;
}
.mission_card h1 {
  font-size: 28px;
  padding: 20px 0;
}
.mission_card p {
  line-height: 1.5;
  color: #6d6e76;
}

.seam_cards {
  margin: 100px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}
.seam_card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;
}

.seam_textcard {
  width: 500px;
}
.seam_card h1 {
  font-size: 34px;
}
.seam_card h2 {
  padding: 20px 0;
}
.seam_card p{
    line-height: 1.5;
}
.seam_imgCard {
  width: 500px;
  height: 400px;
}
.seam_imgCard img {
  width: 100%;
  height: 100%;
}


.ett_cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    margin: 100px 0;
  }

  .ett_card{
    width: 250px;
    text-align: center;
    padding: 30px 30px;
    background-color: #F4F4F4;
    border-radius: 10px;
    transition: all .5s ease-in-out;
    cursor: pointer;
  }
   .ett_card:hover{
    background-color: #fce1a3;
    margin-top: -10px;
    box-shadow: 5px 15px 7px 5px rgba(178, 176, 176, 0.41);
   }
  .ett_card h2{
    padding:  15px 0;
  }
  .ett_card p{
    padding-bottom:  15px;
  }
  .list_icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  
  }

  .list_icons i{
    font-size: 20px;
    transition: all .2s ease-in-out;
  }
  .list_icons i:hover{
    color: red;
    margin-top: -5px;
  }

  .join_about{
    margin-top: -70px;
    margin-bottom: 80px;
  }