.hero_bg {
  background-image: url(/public/imgs/man-in-black-suit-wearing-eye-glasses-sitting-on-gray-sofa-using-macbook-3772622.png);
  height: 89vh;
  object-fit: cover;
 
}

.hero_bg1 {
  width: 100%;
  height: 89vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero {
  width: 650px;
  padding-top: 150px;
  color: white;
}

.hero h1 {
  font-size: 50px;
  padding: 15px 0;
}

.hero p {
  font-size: 16px;
  color: #ffffff;
}
.hero p > span {
  color: orange;
}

.hero p {
  line-height: 1.5;
}

.hero button {
  padding: 12px 25px;
  background-color: orange;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  transition: all 0.6s ease-in-out;
  cursor: pointer;
}
.hero button:hover {
  background-color: red;
  color: white;
}

.sec_feauture {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 100px 0 70px 0;
}
.sec_feauture h1 {
  font-size: 40px;
}
.sec_feauture h3 {
  color: #592ea9;
}

.feature_cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.feature_card {
  border: 1px solid #6d6e7650;
  padding: 20px;
  margin: 0 auto;
  width: 710px;
  height: 680px;
}

.feature_card p {
  padding: 20px 0;
  font-size: 18px;
}

.feature_card h1 {
  font-size: 30px;
}

.feature_card button {
  padding: 12px 25px;
  background-color: orange;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  transition: all 0.6s ease-in-out;
  cursor: pointer;
}
.feature_card button:hover {
  background-color: red;
  color: white;
}
.feature_tex {
  width: 400px;
  transition: all 0.3s ease-in-out;
  margin: 15px 0;
  padding: 15px;
  cursor: pointer;
}

.feature_tex h1 {
  line-height: 1.3;
  padding-top: 15px;
}
.feature_tex p > span {
  color: #592ea9;
}

.feature_tex:hover {
  background-color: #f5e0b0;
  border-radius: 10px;
}

.col_about {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-top: 100px;
}

.col_about p {
  background-color: orange;
  width: 700px;
  height: 17px;
}
.col_about span {
  background-color: #592ea9;
  width: 300px;
  height: 17px;
}

.about_cards {
  background-color: #f4f0f8;
  padding: 50px 25px;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 50px;
  width: 1200px;
  height: 350px;
}
.about_card {
  width: 500px;
}

.about_card h1 {
  font-size: 36px;
  padding: 25px 0;
}
.about_card h2 {
  font-size: 30px;
  padding: 25px 0;
}
.about_card p {
  color: #6d6e76;
  line-height: 1.5;
}
.about_card h4 {
  color: #592ea9;
  font-size: 18px;
  padding-top: 15px;
}

.choose_sec h1 {
  font-size: 30px;
  text-align: center;
  margin-top: 100px;
}



.choose_block {
  display: flex;
  margin-top: 130px;
}

.box_choose {
  width: 850px;
  height: 550px;
  position: relative;
}
.box_choose img {
  width: 100%;
  height: 550px;
}

.box_choose1 {
  width: 550px;
  z-index: 2;
  position: absolute;
  right: 300px;
  background-color: white;
  margin-top:90px;
  padding: 50px 50px;
 
}

.box_choose1 h1{
    font-size: 42px;
    text-align:left;
    margin-top: 20px;
}
.box_choose1 p{
    color: #6D6E76;
    padding: 20px 0;
}
.box_choose1 button{
    padding: 12px 25px;
  background-color: orange;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  transition: all 0.6s ease-in-out;
  cursor: pointer;
}
.box_choose1 button:hover {
    background-color: red;
    color: white;
  }

.set_sec{
    margin: 100px 0;
}
  .set_sec h1{
    text-align: center;
    font-size: 35px;
  }

  .set_cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
  }

  .set_card{
    width: 250px;
    text-align: center;
    padding: 30px 30px;
    background-color: #F4F4F4;
    border-radius: 10px;
    transition: all .5s ease-in-out;
    cursor: pointer;
  }
   .set_card:hover{
    background-color: #fce1a3;
    margin-top: -10px;
    box-shadow: 5px 15px 7px 5px rgba(178, 176, 176, 0.41);
   }
  .set_card h2{
    padding:  15px 0;
  }
  .set_card p{
    padding-bottom:  15px;
  }
  .list_icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  
  }

  .list_icons i{
    font-size: 20px;
    transition: all .2s ease-in-out;
  }
  .list_icons i:hover{
    color: red;
    margin-top: -5px;
  }

  .wear1_set{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;
  }
  .wear_set1 img{
    left: 15px;
 
  }

  .testimon_cards{
    background-color: #FBF6EA;
    display: flex;
    align-items: start;
    justify-content: center;
    width: 1200px;
    height: 350px;
    margin-top: 100px;
    gap: 50px;
    padding: 50px 30px;
  }
  .testimon_cards span{
    width: 1px;
    height: 250px;
    background-color: #6D6E76;
  }
  .testimon_card{
    width: 500px;
    text-align: left;
  }
  .testimon_card h2{
    font-size: 30px;
    padding: 20px 0px;
  }
  .testimon_card p{
   line-height: 1.3;
  }

 .testimon_card1{
    width: 500px;
 }
  .testimon_card1 h3{
    font-size: 24px;

  }

  .porfolio_icons{
    display: flex;
    align-items: center;
    gap: 150px;
    margin-top: 70px;
  }


  .left_rigthIcons{
    display: flex;
    align-items: center;
    gap: 30px;

  }
  .left_rigthIcons i{
    width: 40px;
    height: 40px ;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    transition: all .4s ease-in-out;
    cursor: pointer;
  }
  .left_rigthIcons i:hover{
    background-color: black;
    color: white;
    width: 43px;
    height: 43px ;
  }
