



.join{
    width: 400px;
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;
  }

  .join p{
    padding: 20px 0;
  }

  .join button{
    padding: 10px 25px;
    background-color: orange;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    transition: all 0.6s ease-in-out;
    cursor: pointer;
  }
  .join  button:hover {
    background-color: red;
    color: white;
  }